[Unit]
Description=aggietimed
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/lizzy/work/simple_scripts/aggietime_cli/.env
ExecStart=/usr/bin/aggietimed -d -s /tmp/aggietimed.sock

[Install]
WantedBy=multi-user.target
