[Unit]
Description=aggietimed

[Service]
Type=simple
EnvironmentFile=/home/lizzy/work/simple_scripts/aggietime_cli/.env
ExecStart=/usr/bin/aggietimed -d -s /tmp/aggietimed.sock

[Install]
WantedBy=default.target
